.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.wd-paddingtop-20px {
    padding-top: 20px;
}

.wd-padding-left-3p {
    padding-left: 3%;
}

.wd-padding-right-3p {
    padding-right: 3%;
}

.wd-flex-col-container {
    display: flex;
    flex-direction: column;
}

.wd-width-100p {
    width: 100%;
}